/* ==========================================================================
   Basic Styling
   ========================================================================== */

body {
  overflow: hidden;
}

#mainView {
  position:absolute;
  top: 41px;
}


/* ==========================================================================
   Repeatable patterns
   ========================================================================== */

section {
  /* min-height: 100%; */
  /* border-bottom: 5px solid #000; */
}
