<bucket-mode data="data"></bucket-mode>

<div id="right-menu" ng-controller="BucketCtrl">
  <p class="top-nav">
    <input ng-model="query">
  </p>
  <p  class="bottom-nav"
      ng-show="items.length > 0">
    <a  ng-href="{{href}}"
        class="btn">
      Next
    </a>
  </p>
  <div id="bucket">
    <h3 ng-show="items.length == 0">Drop stuff here</h3>
    <span ng-repeat="item in items"
      class="item item-u-{{item.UID}} item-p-{{item.PID}} label {{item.label}}">
      {{item.name}} <span class="remove" ng-click="remove(i)">x</span>
    </span>
  </div>
</div>
