<div class="grid text">
  <div class="col col-2-3">
    <article class="module">
      <h2>Visualiser la situation d'emploi des diplomés au Québec.</h2>
      <h3>(Visualizing Quebec University students hiring situation)</h3>

      <p>La Relance est une visualisation de la situation d'emploi des diplomés
      universitaires au Québec. La Relance compare les données pour un programme
      donné entre chaques universités offrant ce programme.</p>

      <p>Les données proviennent de l'enquête La Relance à l'université conduite
      aux deux ans à travers le Québec par le ministère de l'Éducation, du
      Loisir et du Sport.<br />
      <a href="http://www.mels.gouv.qc.ca/relance"
        title="Relance">http://www.mels.gouv.qc.ca/relance</a></p>

      <p>Par <strong>Nicolas Duvieusart Déry</strong><p>

      <!-- <p>La Relance is an interactive data visualisation that explores the hiring rate of Quebec University students, by University, as well as by programs. It compares universities and programs to each others. It also looks at the number of people with jobs, the amount of time it took them to find the said job, their weekly salary, and the relation with the studied field.</p> -->
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module modal-header">
      <nav>
        <ul class="inline">
          <li>
            <a  class="btn btn-large btn-custom"
                href="#/vis"
                ng-show="ready">
                Bon bon bon, assez parlé,<br>on peux tu voir ça ?
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</div>


<div class="grid text">
  <h2 class="aligncenter">Définitions</h2>
  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[0].name"></h3>
      <p ng-bind-html="dataType[0].definition"></p>
    </article>
    </div>

  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[1].name"></h3>
      <p ng-bind-html="dataType[1].definition"></p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[2].name"></h3>
      <p ng-bind-html="dataType[2].definition"></p>
    </article>
  </div>
</div>

<div class="grid text">
  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[3].name"></h3>
      <p ng-bind-html="dataType[3].definition"></p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[4].name"></h3>
      <p ng-bind-html="dataType[4].definition"></p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3 ng-bind-html="dataType[5].name"></h3>
      <p ng-bind-html="dataType[5].definition"></p>
    </article>
  </div>
</div>
