<div id="intro" ng-show="step==1">
  <h2>Visualizing Quebec University students hiring rate.</h2>
  <p>La Relance is an interactive data visualisation that explores the hiring rate of Quebec University students, by University, as well as by programs. It compares universities and programs to each others. It also looks at the number of people with jobs, the amount of time it took them to find the said job, their weekly salary, and the relation with the studied field.</p>

  <nav>
    <ul>
      <li>
        <button class="btn" ng-click="step = step + 1">Ok, so how does it work?</button>
      </li>
    </ul>
  </nav>
</div>

<div id="instructions" ng-show="step==2">
  <h2>Instructions</h2>
  <p>instructions</p>

  <nav>
    <ul>
      <li>
        <button class="btn" ng-click="step = step - 1">Back</button>
      </li>
      <li>
        <a  ng-show="ready"
            class="btn"
            href="#/bucket"
            title="Select Universities">
          I get it, let's see this!
        </a>
      </li>
    </ul>
  </nav>
</div>

