<div class="grid text">
  <div class="col col-2-3">
    <article class="module">
      <h2>Visualizing Quebec University students hiring rate.</h2>
      <p>La Relance is an interactive data visualisation that explores the hiring rate of Quebec University students, by University, as well as by programs. It compares universities and programs to each others. It also looks at the number of people with jobs, the amount of time it took them to find the said job, their weekly salary, and the relation with the studied field.</p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module modal-header">
      <nav>
        <ul class="inline">
          <li>
            <a  class="btn btn-large btn-custom"
                href="#/vis"
                ng-show="ready">
              Bon, on peux tu voir &ccedil;a la?
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</div>


<div class="grid text">
  <h2 class="aligncenter">Définitions</h2>
  <div class="col col-1-3">
    <article class="module">
      <h3>En emploi</h3>
      <p>Sont dites &laquo; en emploi &raquo; les personnes diplômées visées par
      l&apos;enquête qui ont déclaré travailler à leur compte ou pour autrui, sans étudier à temps plein.</p>
    </article>
    </div>

  <div class="col col-1-3">
    <article class="module">
      <h3>Aux études</h3>
      <p>Sont dites &laquo; aux études &raquo; les personnes diplômées visées par
      l&apos;enquête qui ont déclaré soit étudier à temps plein, soit étudier à temps partiel sans avoir d’emploi.</p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3>Emploi à templs plein</h3>
      <p>Sont dites &laquo; à temps plein &raquo; les personnes diplômées en emploi qui travaillent, de façon générale, 30 heures ou plus par semaine.</p>
    </article>
  </div>
</div>

<div class="grid text">
  <div class="col col-1-3">
    <article class="module">
      <h3>Durée de recherche</h3>
      <p>Nombre moyen de semaines, calculé à partir de la fin des études,
      qu&apos;ont pris les travailleuses et les travailleurs à temps plein pour
      trouver un premier emploi qu&apos;ils jugent comme un emploi d&apos;importance. À partir de 2009, la méthode de calcul diffère de celle des enquêtes précédentes. Les personnes diplômées qui ont obtenu leur premier emploi dès la fin de leurs études sont désormais incluses dans le calcul.</p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3>Salaire hebdomadaire brut</h3>
      <p>Salaire brut moyen gagné par les travailleuses et les travailleurs
      à temps plein au cours d&apos;une semaine normale de travail. Ces données concernent uniquement les personnes diplômées qui travaillent pour autrui.</p>
    </article>
  </div>

  <div class="col col-1-3">
    <article class="module">
      <h3>Emploi en rapport</h3>
      <p>Sont dits avoir un emploi &laquo; en rapport avec leur formation &raquo; les travailleurs et les travailleuses à temps plein qui jugent que leur travail correspond à leurs études.</p>
    </article>
  </div>
</div>
