<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">La Relance</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li active-link="active"><a href="#/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
              data-toggle="dropdown">Type <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li active-link="active"><a href="#/vis/sunburst/">Sunburst</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li active-link="active"><a href="#/s">Separated link</a></li>
              <li active-link="active"><a href="#/f">One more separated link</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li active-link="active"><a href="#/about">About</a></li>
          <li active-link="active"><a href="#/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
