<div class="modal">
  <div class="modal-header clearfix">
    <button class="btn btn-custom floatleft" ng-click="close()">Retour</button>

    <div class="floatright">
      <h3>{{subtitle}}</h3>
    </div>
  </div>

  <tabs>
    <pane ng-repeat="pane in panes"
          heading="{{pane.name}}"
          active="pane.active">
      <!-- https://github.com/angular-ui/bootstrap/pull/195 -->
      <ng-include src="pane.content"
                  data-id="{{pane.id}}"
                  data-type="{{pane.type}}">
      </ng-inlcude>
    </pane>
  </tabs>
</div>
